<%= form_with(model: calculation, local: true) do |form| %>
  <% if calculation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>

      <ul>
      <% calculation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :loan_amount %>
    <%= form.number_field :loan_amount %>
  </div>

  <div class="field">
    <%= form.label :terms %>
    <%= form.number_field :terms %>
  </div>

  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.number_field :interest_rate %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
