<p id="notice"><%= notice %></p>

<p>
  <strong>Loan amount:</strong>
  <%= @calculation.loan_amount %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @calculation.terms %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @calculation.interest_rate %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @calculation.start_date %>
</p>

<table>
  <th>payments</th>
  <th>loan_amounts</th>
  <th>interests</th>
  <th>balances</th>
  <% @amortization_table.each do |value| %>
      <tr>
        <td><%= value[:payments] %></td>
        <td><%= value[:loan_amounts] %></td>
        <td><%= value[:interests] %></td>
        <td><%= value[:balances] %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_calculation_path(@calculation) %> |
<%= link_to 'Back', calculations_path %>
