<p id="notice"><%= notice %></p>

<p>
  <strong>Loan amount:</strong>
  <%= @calculation.loan_amount %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @calculation.terms %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @calculation.interest_rate %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @calculation.start_date.strftime("%m/%d/%Y") %>
</p>

<table class='table table-striped'>
  <th>Date</th>
  <th>Start Balance</th>
  <th>Principle</th>
  <th>Interest</th>
  <th>Total Pmt</th>
  <th>End Balance</th>
  <% @amortization_table.each do |value| %>
    <tr>
      <td><%= value[:date] %></td>
      <td><%= value[:start_balance] %></td>
      <td><%= value[:principle] %></td>
      <td><%= value[:interest] %></td>
      <td><%= value[:total_payment] %></td>
      <td><%= value[:end_balance] %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_calculation_path(@calculation) %> |
<%= link_to 'Back', calculations_path %>
